body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
   background-repeat: no-repeat;
  background-attachment: scroll
 
}
 ----- 
 /* first-container */
 ------
h1{
  font-size: 50px;
  
}
.donate-image{
  background-image: url(image/donation13.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

 .first-text{
  position: absolute;
 width: 826px;
 height: 320px;
 left: 250px;
 top: 50px;
 text-align: center;
 color: white;
}

.link-button{
  text-decoration: none;
  background-color: #FF5959;
  color: white;
  font-weight: 400;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
}
 /* second-container */

.second-text{
  text-align: center;
}
.color-whitep{
  color: #707070;;
}
.mini-box{
 display: grid;
 grid-template-columns: repeat(5 ,1fr );
 padding: 30px 400px ;
 color: #707070;;
 
}
.margin{
  text-align: center;
 color: #B3B3B3;;
}
.line{
  
     position: absolute;
    width: 765px;
    height: 0px;
    left: 300px;
    top: 800px;
    border-bottom: 5px solid #a8a8a8a2;
}
.p-text{
  position: absolute;
width: 192px;
height: 28px;
left: 570px;
top: 770px;
}

.link{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 30px 10px;
gap: 8px;
}

/* Third-container */

.flexible-container{
  display: flex;
  margin-bottom: 100px;
}

.experience-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgb(83, 197, 83);
}
.icon-pic{
    width: 15%; 
   padding-left: 5%;
   padding-top: 10px;
}
#web-dev{
  border-left: 7px solid;
  border-image: linear-gradient(blue,cyan);
  border-image-slice: 1;
  background-color: wheat;
}
#stack-dev{
  border-left: 7px solid;
  border-image: linear-gradient(red,rgb(235, 232, 231)) ;
  border-image-slice: 1;
  background-color: white;
}
#Goals-dev{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(22, 22, 24),cyan);
  border-image-slice:1 ;
  background-color: cyan;
}







/* footer{
  width: 1440px;
  height: 150px;
  top: 3772px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 95.52%;
  bottom: 0%;
}

footer h3{
text-align: center;
}
.color-footer{
  color: rgb(194, 65, 65);
}
.white{
  color: rgba(255, 255, 255, 0.493);
}

footer p{
  text-align: center
  ;}
  footer{
    background-color:  #0B0D17;;
  } */
