body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
   background-repeat: no-repeat;
  background-attachment: scroll
 
}

h1{
  font-size: 50px;
  
}
.donate-image{
  background-image: url(image/donation13.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

 .first-text{
  position: absolute;
 width: 826px;
 height: 320px;
 left: 319px;
 top: 70px;
 text-align: center;
 color: white;
}



.link-button{
  text-decoration: none;
  background-color: #FF5959;
  color: white;
  font-weight: 400;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
}















footer{
  width: 1440px;
  height: 150px;
  top: 3772px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 95.52%;
  bottom: 0%;
}

footer h3{
text-align: center;
}
.color-footer{
  color: rgb(194, 65, 65);
}
.white{
  color: rgba(255, 255, 255, 0.493);
}

footer p{
  text-align: center
  ;}
  footer{
    background-color:  #0B0D17;;
  }
